body{
    background-color: #f8fafc;
}
body.modal-open {
    overflow-y: auto !important;
    padding-right: 0!important;
}
tbody tr td:not(:first-child){
    padding-top: 32px !important;
}

td button{
    margin-top: -7px;
}

#note_box .post_action{
    float: left;
    margin-left: 20px;
    color: #9199a1;
    font-size: 12px;
    overflow: hidden;
    cursor: pointer;
    line-height: 34px;
}
#note_box .post_action:hover{
    text-decoration: none;
    color: #4d555d;
}
#note_box .post_action i{
    margin-right: 5px;
}

.post span{
    margin-left: 20px;
    color: #9199a1;
    font-size: 12px;
    line-height: 34px;
}
a:hover{
    text-decoration: none;
}
.title a {
    font-size: 14px;
    color: #1c1f21;
    font-weight: 700;
}
.title a:hover{
    color: #007bff
}
.unit a{
    font-size: 12px;
    color: #93999f;
    line-height: 24px;
}
.unit a:hover{
    color: #1c1f21;
}

#note_box .post-row {
    position: relative;
    margin-bottom: 8px;
    padding: 32px;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(7,17,27,.1);
    border-radius: 12px;
}
button.btn-mini {
    height: 29px;
    padding: 0 15px;
    font-size: 12px;
    width: auto;
}