<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <mime-mapping>
        <extension>txt</extension>
        <mime-type>application/txt</mime-type>
    </mime-mapping>

    <display-name>首页</display-name>
    <welcome-file-list>
        <welcome-file>HTML_JSP/homepage.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Resgister</servlet-name>
        <servlet-class>Server.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Resgister</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadSec</servlet-name>
        <servlet-class>Server.UploadSec</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadSec</servlet-name>
        <url-pattern>/uploadsec</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadImage</servlet-name>
        <servlet-class>Server.UploadImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadImage</servlet-name>
        <url-pattern>/uploadimage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>save_image</servlet-name>
        <servlet-class>Server.save_image</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>save_image</servlet-name>
        <url-pattern>/save_image</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangeInfor</servlet-name>
        <servlet-class>Server.ChangeInfor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeInfor</servlet-name>
        <url-pattern>/changeInfor</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangePW</servlet-name>
        <servlet-class>Server.ChangePW</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePW</servlet-name>
        <url-pattern>/changepw</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UploadActionServlet</servlet-name>
        <url-pattern>/UploadActionServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadActionServlet</servlet-name>
        <servlet-class>Server.UploadActionServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>Server.FileUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUploadServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SaveClassInfor</servlet-name>
        <servlet-class>Server.SaveClassInfor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveClassInfor</servlet-name>
        <url-pattern>/SaveClassInfor</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetLearnFile</servlet-name>
        <servlet-class>Server.GetLearnFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetLearnFile</servlet-name>
        <url-pattern>/getlearnfile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Get_Teaching</servlet-name>
        <servlet-class>Server.Get_Teaching</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Get_Teaching</servlet-name>
        <url-pattern>/get_teaching</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Students</servlet-name>
        <servlet-class>Server.Students</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Students</servlet-name>
        <url-pattern>/students</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Learn_list</servlet-name>
        <servlet-class>Server.Learn_list</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Learn_list</servlet-name>
        <url-pattern>/learn_list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Play</servlet-name>
        <servlet-class>Server.Play</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Play</servlet-name>
        <url-pattern>/play</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PostNote</servlet-name>
        <servlet-class>Server.PostNote</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostNote</servlet-name>
        <url-pattern>/postnote</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PostAsk</servlet-name>
        <servlet-class>Server.PostAsk</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostAsk</servlet-name>
        <url-pattern>/postask</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Notification</servlet-name>
        <servlet-class>Server.Notification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Notification</servlet-name>
        <url-pattern>/notification</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Activation</servlet-name>
        <servlet-class>Server.Activation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Activation</servlet-name>
        <url-pattern>/activation</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>Login_Filter</filter-name>
        <filter-class>Filter.Login_Filter</filter-class>
        <init-param>
            <param-name>excPath</param-name>
            <param-value>/HTML_JSP/homepage.jsp,/HTML_JSP/LoginPC.jsp,/HTML_JSP/index.jsp,/HTML_JSP/course.jsp,/HTML_JSP/Learn_list.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>teacherPath</param-name>
            <param-value>/HTML_JSP/Myclass.jsp,/HTML_JSP/basic_information.jsp,/HTML_JSP/image.jsp,/HTML_JSP/duration.jsp,/HTML_JSP/instructors.jsp,/HTML_JSP/students.jsp</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Login_Filter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>

    <!--<listener>
        <listener-class>Listener.Session_Listener</listener-class>
    </listener>-->

</web-app>