

.dndArea {
    width: 200px;
    height: 100px;
    border: dashed red;
}

.fade{
    background-color: transparent;
    width: 100%;
    top: 80px;
}

.fade .btn{
    float: right;
    margin-top: 10px
}

.fade .form-control{
    height: 40px ;
    resize:none;
}

.liMyclass {
    background-color: #007bff;
}

.aMyclass {
    color: white;
}

#verticalNav {
    margin-top: 32px;
}

.container_right {
    width: 80%;
    float: right;
    min-height: 240px;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(7,17,27,.1);
    border-radius: 12px;
    margin-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}



.container_right_head {
    font-size: 20px;
    color: #3d3d3d;
    height: 90px;
    line-height: 90px;
    border-bottom: 1px solid #e0e0e0;
}

.section {
    width: 100%;
    background-color: #8080800d;
    float: left;
    margin-bottom: 10px;
}

.Unit {
    border: none;
    background-color: white;
}

.Unit_class {
    width: 90%;
    float: right;
    border: none;
}

.over > *{
    display: none;
}

/*.card-header{
    height: 48px;
}*/

.card-header h8{
    font-size: 14px;
}

.card-header h10{
    font-size: 12px;
}


body{
    background-color: #f8fafc;
    font-family: "PingFang SC", 微软雅黑, "Microsoft YaHei", Helvetica, "Helvetica Neue", Tahoma, Arial, sans-serif;
}

.ui-box{
    width: 80%;
    height: 170px;
    margin: 33px auto auto;
    background: #FFF;
    box-shadow: 0 8px 16px 0 rgba(7,17,27,.1);
    border-radius: 12px;
}

.list-group-item{
    border: none;
    background:none;
    color: #787d82;
}
.list-group-item:hover{
    color: #1c1f21;
}

.list_action{
    color: white;
    background: #007bff94;
    border-radius: 8px 0 0 8px;
    pointer-events: none;
}

.bfb_span {
    padding-top: 0;
    display: block;
    font-size: 10px;
    float: left;
    width: 91%;
    white-space: nowrap;
}

.progressbar {
    width: 0;
    margin-bottom: 10px;
    background: rgb(121, 171, 197) linear-gradient(45deg, rgba(255, 255, 255, 0.14902) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.14902) 50%, rgba(255, 255, 255, 0.14902) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
    box-shadow: rgba(0, 0, 0, 0.14902) 0 -1px 0 0 inset;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: none;
    font-size: 10px;
    height: 18px;
    line-height: 20px;
    text-align: center;
    transition-delay: 0s;
    transition-duration: 0.6s;
    transition-property: width;
    transition-timing-function: ease;
}
/*

!*.sections .section .card-body  .custom-file .container *!.input-file-show .custom-file{
    margin-top: 25px;
    width: 80%;
}
.input-file-show .custom-file .custom-file-label{
    overflow: hidden
}
.input-file-show .custom-file {
    margin-top: 25px;height: auto;display: none
}

.input-file-show .btn-secondary{
    margin-top: 4px;
    margin-left: 10px
}*/
.input-file-show .custom-file{
    margin-top: 25px;
    width: 80%;
}

#ui_box{
    height: 210px;
    margin-top: 33px;
}