.notification a{
    color: #787d82;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.notification a:hover{
    color: white;
}

.history_ul li {
    clear: both;
    position: relative;
    padding-left: 38px;
}

.history_ul li {
    height: 28px;
    line-height: 28px;
    text-align: left;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 12px 0 22px;
    position: relative;
}
.mini-wnd-nav a {
    /* color: #222;*/
    transition: color .2s;
}

.mini-wnd-nav.history-wnd .state span {
    display: inline-block;
    float: left;
}

.list_tips a{
    color: #222;
    display: block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
        