.panel{
	 border:none;
}
a.list-group-item:hover{
	   background-color: #BCD68D;
	    font-size:20px;
	   
}

.list-group-item{
	margin: 20px;
	font-size: 15px;
}
.list-group-item-heading{
	font-family: "微软雅黑";
	font-size: 20px;
	color:black ;
}
