.user_card{
    display: none;
    background-color:white;
    position: absolute;
    right: 12px;
    top: 61px;
    width: 110px;
    box-shadow: 0 8px 16px 0 rgba(7,17,27,.2);
    z-index: 1000;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.user_navigation{
    /*position: fixed;*/
    height: 60px;
    top: 0;
    /* left: 0; */
    /* right: 0; */
    width: 100%;
    padding-left: 40px;
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: #07111b;
    z-index: 6;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
}
.user_navigation .nav-link{
    color: rgba(255,255,255,.6);
}
.user_navigation  .nav-link:hover{
    color: white;
}
.course{
    min-height: 600px;
    width: 80%;
    margin:0 auto;
    padding-right: 352px;
    display: flex;/*给div父元素设置 display: flex; flex弹性盒模型*/
}

.notification{
    position: relative;
    float: left;
}

.notification .dropdown-menu{
    background-color: #07111b;
}

.notification .dropdown-menu .dropdown-item:hover{
    background-color: #212529;
}

.notification a{
    color: #787d82;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.notification a:hover{
    color: white;
}

.msg_remind {
    display: none;
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #f01414;
    right: 17px;
    top: 8px;
    border-radius: 50%;
}

.form-control{
    height: calc(2rem + 2px);
}


/*#search_input{
    font-size: 13px;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
}

#search_input:focus{
    outline:none;
    box-shadow: none;
    border-bottom: 1px solid #007bff;
}*/
/*
.user_navigation .form-control{
    font-size: 13px;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
}

.user_navigation .form-control:focus{
    outline:none;
    box-shadow: none
}
 .form-group{
    position: relative;
}*/

.nav-item .input-group{
    float: left;
    width: auto;
}

.nav-item .input-group .form-control{
    border: none;
    border-radius: 15px;
    font-size: 13px;
    position: static;
    padding-right: 21px;
    height: 30px;
    margin-top: 7px

}

.nav-item .input-group .form-control:focus{
    outline: none;
    border-bottom-color: #007bff;
    box-shadow:none;
    z-index: 0;
}

.nav-item .input-group .input-group-append{
    position: absolute;
    color: #757a7e;
    top: 13px;
    right: 3px;
    cursor: pointer;
}

.notice{
    margin-right: 25px;
    font-size: 20px;
    color: rgba(255,255,255,.6);
    float: right;
    margin-top: 10px;
    position: relative;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.notice:hover{
    color: white;
}


.user_imag{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 50px;
    float: right
}

.msg_remind {
    display: none;
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: rgba(255,255,255,.6);
    top: 0;
    left: 21px;
    border-radius: 50%;
}