@import url("style.css");
@import url("settings.css");
#navigation{
    height: 108px;
}
.notification a{
    color: #787d82;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.notification a:hover{
    color: #007bff;
}


.mini-wnd-nav a {
    /* color: #222;*/
    transition: color .2s;
}

.mini-wnd-nav.history-wnd .state span {
    display: inline-block;
    float: left;
}

.list_tips a{
    color: #222;
    display: block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}