/**
 *
 * Overlay
 * Flat Button
 * Flat Title
 * Parallax
 * Border
 * Flat Info
 * Flat Action
 * Flat Adds
 * Flat Event
 * Flat Featured
 * Iconbox
 * Imgbox
 * Flat Counter
 * Flat Tabs
 * Flat Team
 * Flat Search
 * Flat Accodion
 * Transition Hover
 * Flat Img Single Slider
 * Flat About Info
 * Flat About Detail
 * Flat Video
 * Flat Free Month
 * Flat Courses
 * Flat Filter Isotype
 * Flat Popular Courses
 * Flat Register Now
 * Flat Skilled Instructors
 * Flat Upcoming Events
 * Flat Testimonials
 * Flat Services
 * Flat Categories
 *
**/

/* Overlay
-------------------------------------------------- */
.overlay {
	position: absolute;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* Flat Button
-------------------------------------------------- */
.flat-button {
	display: inline-block;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.flat-button::after, .flat-button::before {
	position: absolute;
	content: "";
	-webkit-transition: all 0.35s ease-in-out 0s;
	-moz-transition: all 0.35s ease-in-out 0s;
	-ms-transition: all 0.35s ease-in-out 0s;
	-o-transition: all 0.35s ease-in-out 0s;
	transition: all 0.35s ease-in-out 0s;
}

.flat-button::before {
	top: 0;
	left: 0;
	width: 150%;
	height: 100%;
	z-index: -1;
	background-color: #f3728b;
	-webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -4em, 0);
	transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -4em, 0);
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
	-webkit-transition: all 0.35s ease-in-out 0s;
	-moz-transition: all 0.35s ease-in-out 0s;
	-ms-transition: all 0.35s ease-in-out 0s;
	-o-transition: all 0.35s ease-in-out 0s;
	transition: all 0.35s ease-in-out 0s;
}

.flat-button:hover::before {
	opacity: 1;
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.border-ra4 {
	border-radius: 4px;
}
.flat-featured.style3 .wrap-featured {
	position: absolute;
	width: 100%;
	transform: translateY(-100%);
}
.iconbox {
	position: relative;
}

.iconbox .iconbox-icon {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	border: 1px dotted rgba(255,255,255,1);
	line-height: 56px;
	text-align: center;
	position: absolute;
	color: #fff;
	font-size: 24px;
	left: 0;
	top: 50%;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
	transform: translateY(-50%);
	-webkit-animation: showhide 2s linear infinite;
	animation: showhide 2s linear infinite;
}

@-webkit-keyframes showhide {
	0%   {border: 1px dotted rgba(255,255,255,1);}
	50%  {border: 1px dotted rgba(255,255,255,0.5);}
	100% {border: 1px dotted rgba(255,255,255,0);}
}

@keyframes showhide {
	0%   {border: 1px dotted rgba(255,255,255,1);}
	50%  {border: 1px dotted rgba(255,255,255,0.5);}
	100% {border: 1px dotted rgba(255,255,255,0);}
}

.iconbox .iconbox-icon:after {
	content: "";
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background: rgba(255,255,255,0.2);
	line-height: 56px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.iconbox .iconbox-content {
	padding: 0 15px;
}

.iconbox .iconbox-content .title {
	color: #fff;
	padding-left: 51px;
	font-weight: 700;
	font-family: "Poppins",serif;
}

/* style3 */
.iconbox.style3 .iconbox-icon {
	width: 70px;
	height: 70px;
	position: unset;
	transform: unset;
	border-radius: unset;
	border: unset;
	font-size: 60px;
	margin: 0 auto 20px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-animation: unset;
	animation: unset;
}

.iconbox.style3.left .iconbox-icon {
	transform: rotate(-20deg);
}

.iconbox.style3.right .iconbox-icon {
	transform: rotate(15deg);
}

.iconbox.style3 .iconbox-icon:before,
.iconbox.style3 .iconbox-icon:after {
	content: unset;
}

.iconbox.style3 {
	background: rgba(255,255,255,0.8);
	padding: 41px 30px 53px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.iconbox.style3 .iconbox-content .title {
	padding-left:  0;
}

.iconbox.style3 .iconbox-content .title a {
	font-family: "Roboto";
}

.iconbox:hover.style3,
.iconbox.active.style3 {
	background: #f3728b;
}

.iconbox:hover.style3 .title a,
.iconbox.active.style3 .title a {
	color: #fff;
}

.iconbox.style3 .title a:hover,
.iconbox.style3.active .title a:hover {
	color: #192836;
}

.iconbox:hover.style3 .iconbox-icon,
.iconbox.active.style3 .iconbox-icon {
	margin-bottom: 30px;
}

.iconbox:hover.style3,
.iconbox.active.style3 {
	padding-top: 31px;
}