
@import url("liblary.css");
@import url("shortcode.css");
@import url("bf-icon.css");
@import url("woocommerce.css");
html{overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
ul{list-style:none}
.boxed :focus{outline:0}
.boxed img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle}
.boxed button,input{font-size:100%;margin:0;max-width:100%;vertical-align:baseline;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.boxed button,input{line-height:normal}
.boxed input{background-image:-webkit-linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,100%,0))}
.boxed button{line-height:1;cursor:pointer;-webkit-appearance:button;border:none}
.boxed input[type="search"]{-webkit-appearance:textfield}
.boxed input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
.boxed button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
.boxed *,:before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

/* Repeatable Patterns
-------------------------------------------------- */

.boxed a {
    font-size: 14px;
    text-decoration: none;
    color: #192836;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.boxed a:hover, .boxed a:focus {
    color: #007bff;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.boxed ul {
    padding: 0;
}

.boxed img {
    height: 40px;
    width: 40px;
}


input[type="search"] {
    position: relative;
    display: block;
    width: 100%;
    line-height: 24px;
    padding: 0 19px;
    color: #c2c2c2;
    border: 1px solid rgba(25,40,54,0.07);
    height: 46px;
    background-color: #eff0f1;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.boxed input[type="search"] {
    width: 240px;
    background-color: #eff0f1;
    font-size: 12px;
}

.boxed .title_list{
    text-align: left;
    margin-bottom: 0;
}

.boxed .title_list a:hover{
    color: #007bff;
}

.boxed .title_list_box{
    padding-left: 18px;
    padding-top: 5px;
    background-color: #fff;
    border: 1px solid rgba(25,40,54,0.07);
}

.style1 input[type="search"]:focus {
    background-color: #fff;
    border: 1px solid #007bff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.style2 input[type="search"]:focus {
    border: 1px solid #f3728b;;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input:-moz-placeholder,
input::-moz-placeholder {
    color: #c2c2c2;
    opacity: 1;
}

input:-ms-input-placeholder {
    color: #c2c2c2;
}

input::-webkit-input-placeholder {
    color: #c2c2c2;
    opacity: 1;
}

/* Color */
.color-fff {
    color: #fff;
}

.font-Poppins {
    font-family: 'Poppins';
}

.font-size-20 {
    font-size: 20px;
}


.text-underline {
    text-decoration: underline !important;
}

.font-weight-700 {
    font-weight: 700;
}

h6{font-family:"Roboto",sans-serif;font-weight:700;color: #192836;}
h6,h6 a{font-size:20px;line-height:24px}

/* style2 */
.top .socails ul li a {
    color: #515e6f;
}

.top .socails ul li {
    margin-left: 11px;
}

.top .socails {
    float: left;
    width: 67.5%;
    padding: 6px 6px 0px 0;
}

.top .socails ul li a:hover {
    color: #f3728b;
}

.top .socails.v2 ul li a:hover {
    color: #ec5252;
}

.top .flat-action.style2 {
    width: 32.5%;
    float: left;
}

/* Header
-------------------------------------------------- */
#header {
    position: relative;
}

#header .container{
    max-width: 1218px;
}

.link{
    display: inline-block;
}

/* Logo  */
#logo {
    float: left;
    width: 7%;
    padding: 28px 0 3px;
}

/* nav-menu */
.menu{
    display: inline-block;
}

.nav-wrap {
    float: left;
}

#main-nav > ul > li {
    position: relative;
    text-align: left;
    display: inline-block;
}

#main-nav ul li a {
    line-height: 93px;
    display: block;
    font-weight: 700;
    padding: 0 33px 0 0;
}

#main-nav  ul > li > a {
    position: relative;
}

#main-nav  ul > li.active > a,
#main-nav ul.submenu > li:hover > a {
    color: #007bff;
}

#main-nav ul.submenu > li > a {
    line-height: 40px;
    display: block;
    margin-bottom: 2px;
    font-family: "Roboto";
    position: relative;
    font-weight: 700;
}

.style2 #main-nav ul.submenu > li > a {
     color: #fff;
}

.style2 #main-nav ul.submenu > li > a:hover{
    color: #f3728b;
}

#main-nav ul.submenu {
    position: absolute;
    top: 150%;
    left: -30px;
    width: 250px;
    background: #ffffff;
    box-shadow: 0 5px 14.25px 0.75px rgba(0, 0, 0, 0.05);
    padding: 15px 30px;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#main-nav > ul.menu li:hover > ul.submenu {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.style2 #main-nav > ul.menu li:hover > ul.submenu{
    background-color: #192836;
}

#header #main-nav ul li {
    position: relative;
}
#header .icon-fa{
    font-size: 20px;
    color: #b1b2c5;
}
#header .icon-fa:hover{
    color: #007bff;
}
#main-nav > ul.menu li:hover > a {
    color: #007bff;
}

#main-nav > ul.menu li:hover > ul.submenu {
    top: 80%;
    opacity: 1;
    visibility: visible;
}

/* menu-extra */
.extra-menu {
    width: 35%;
    float: right;
    padding: 24px 0 3px;
}

.personalCenter{
    display: none;
}

.history_ul{
    margin-bottom: 0;
}

.extra-menu ul li {
    display: inline-block;
}

.extra-menu a {
    line-height: 57px;
}
.extra-menu ul li a{
    line-height: 18px;
}
.extra-menu .cart {
    float: right;
}

.extra-menu .cart a {
    padding-right: 10px;
}

.style2 .extra-menu .cart a {
    color: #fff;
}

.style2 .extra-menu .cart a:hover {
    color: #fa778a;
}

.extra-menu .cart {
    position: relative;
}

.extra-menu span.count-cart {
    position: absolute;
    top: 16px;
    right: -3px;
    color: #fff;
    width: 7px;
    height: 7px;
    border-radius: 6px;
    line-height: 13px;
    text-align: center;
    font-size: 10px;
    display: none;
}

.style1 .extra-menu span.count-cart{
    background: #007bff;;
}

.style2 .extra-menu span.count-cart{
    background: #fa778a;
}

    /* search-header */
#header .wrap-search-header {
    float: left;
    padding: 4px 0 0 7px;
}

.search-header {
    position: relative;
}

.search-header button.btn-search{
    background: transparent;
    color: #515e6f;
    border: unset;
    position: absolute;
    right: 0;
    z-index: 1;
    top: 0;
    width: 48px;
    font-size: 17px;
    line-height: 48px;
    padding-right: 36px;
}

.search-header button.btn-search:hover {
    color: #fa778a;
}

/* Header Style2 */
#header.style2 #logo {
    padding: 31px 0 29px;
}

.style2 .fa{
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.style2 .fa:hover{
    color: #f3728b;
}

#header.style2 #main-nav > ul > li {
    margin-right: 31px;
}
#header.style2 #main-nav > ul > li > a {
    color: #fff;
    padding-right: 0;
    line-height: 87px;
}

#header.style2 #main-nav > ul > li > a:after {
    content: "";
    width: 0;
    height: 3px;
    background: #f3728b;
    position: absolute;
    bottom: 31px;
    left: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#header.style2.v2 .show-search a:hover,
#header.style2.v2 .show-search a i:hover,
#header.style2.v2 .show-search.active a .icon-search:hover:before,
#header.style2.v2  .show-search.active a .icon-search:before {
    color: #ec5252;
}

#header.style2.v2 #main-nav > ul > li > a:after {
    background: #ec5252;
}

#header.style2 #main-nav > ul > li > a:hover,
#header.style2 #main-nav > ul > li.active > a,
#header.style2 .extra-menu ul li.cart:hover a {
    color: #f3728b;
}

#header.style2.v2 #main-nav > ul > li > a:hover,
#header.style2.v2 #main-nav > ul > li.active > a,
#header.style2.v2 .extra-menu ul li.cart:hover a {
    color: #ec5252;
}

#header.style2 #main-nav > ul > li > a:hover:after,
#header.style2 #main-nav > ul > li.active > a:after {
    width: 100%;
}

#header.style2 .extra-menu ul li.cart a {
    color: #fff;
}

#header.style2 .extra-menu ul li:not(:last-child) {
    margin-right: 11px;
}


#header.style2.v2 #main-nav  ul > li.active > a,
#header.style2.v2 #main-nav ul.submenu > li:hover > a {
    color: #ec5252;
}

#header.style2.v2 #main-nav > ul.menu li:hover > a {
    color: #ec5252;
}

#header.style2.v2 #main-nav ul.submenu {
    width: 220px;
}

#header.style2.v2 #main-nav ul.submenu li ul {
    left: 191px;
}

#header.style2.v2 .extra-menu span.count-cart {
    background: #ec5252;
}

#header.style2.v3 #main-nav > ul > li > a,
#header.style2.v3 .extra-menu ul li.cart a {
    color: #192836;
}

#header.style2.v3 #main-nav > ul > li > a:hover,
#header.style2.v3 #main-nav > ul > li.active > a,
#header.style2.v3 .extra-menu ul li.cart:hover a {
    color: #f3728b;
}

#header.style2.v3 #main-nav {
    margin-right: -14px;
}

#header.style2.v2 #main-nav {
    margin-right: -15px;
}

.flat-title-page.style2 .wrap-title-page {
    padding: 94px 15px 103px;
}

.breadcrumbs.style2 {
    margin-bottom: 55px;
}

.breadcrumbs.style2 ul li:not(:last-child):after {
    color: #fff;
}

.mobile-button {
    display:none;
    position:absolute;
    width:26px;
    height:26px;
    float:right;
    top:50%;
    right: 15px;
    background-color:transparent;
    cursor:pointer;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%);
}

.mobile-button:before,
.mobile-button:after,
.mobile-button span {
    background-color:#f3728b;
    -webkit-transition:all ease 0.3s;
    -moz-transition:all ease 0.3s;
    transition:all ease 0.3s;
}

.mobile-button:before,
.mobile-button:after {
    content:'';
    position:absolute;
    height:3px;
    width:100%;
    left:0;
    top:50%;
    -webkit-transform-origin:50% 50%;
    -ms-transform-origin:50% 50%;
    transform-origin:50% 50%;
}

.mobile-button span {
    position:absolute;
    width:100%;
    height:3px;
    left:0;
    top:50%;
    overflow:hidden;
    text-indent:200%;
}

.mobile-button:before {
    -webkit-transform:translate3d(0,-7px,0);
    -moz-transform:translate3d(0,-7px,0);
    transform:translate3d(0,-7px,0);
}

.mobile-button:after {
    -webkit-transform:translate3d(0,7px,0);
    -moz-transform:translate3d(0,7px,0);
    transform:translate3d(0,7px,0);
}

.flat-button.btn-start-slider {
    font-size: 16px;
    display: inline-block;
    line-height: 49px;
    padding: 3px 54px 3px 34px;
    background: #f3728b;
    color: #fff;
}

.flat-button.btn-start-slider:before {
    background: #192836;
}

.flat-button.btn-start-slider:after {
    content: "\ea37";
    font-family: "bf-icon",serif;
    font-weight: 100;
    font-size: 16px;
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
}
